<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.engahmed.mitchamr">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="com.example.mapdemo.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/logo_app"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".FlipperIntro.AppIntroActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".Main2Activity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".food.food"
            android:label="@string/title_activity_food"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".clothes.clothes"
            android:label="@string/title_activity_clothes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".shoes.shoes" />
        <activity android:name=".bags.bags" />
        <activity android:name=".Souvenir.Main_souvenir" />
        <activity android:name=".food.resturant_dety" />
        <activity android:name=".food.desert.desert_det" />
        <activity android:name=".food.cafes.cafe_det" />
        <activity android:name=".Souvenir.souvenir_dety" />
        <activity android:name=".shoes.shoess_dety" />
        <activity android:name=".bags.bags_detyalis" />
        <activity android:name=".offers.offers" >



            </activity>

    </application>

</manifest>